.table-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  tbody {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .row {
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:maroon;

  }
  .row img {
    width: 70px;
  }
  .container{
    height:90vh;
  }
  .incre-decre-btn {
    display: flex;
    gap: 5px;
    justify-content: center;
  }
  .cart_container {
    display: "flex";
    justify-content: center;
    align-items: "center";
    flex-wrap: wrap;
  }
  .btn{
    background-color: maroon;
    color:#fff;
  }
  .btn:hover{
    background-color: rgba(128, 0, 0, 0.581);
  }
 
  /* @media screen and (max-width: 700px) {
    .incre-decre-btn {
      flex-direction: column;
      gap: 2px;
    }
  } */