.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 10px;
    
  }
 
  .banner{
    /* background-image: url("../../assets/DIAMOND-JEWELLERY-TO-GIFT-YOUR-LOVE-THIS-VALENTINES-DAY.png"); */
    width:100%;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
  }
  .banner img{
    max-width: 100%;
    max-height: fit-content;
  }
  .arrivals{
    font-family: "Lobster", sans-serif;
    font-weight:300;
    font-style: normal;
    color:maroon;
    margin: 20px 20px;
    text-decoration: underline;
    font-stretch: extra-expanded;
  }
  .card {
    border: 1px solid rgba(122, 7, 7, 0.389);
    /* border: none; */
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    font-size: 16px;
    color:maroon;
    font-weight: 300;
    background-color: rgba(128, 0, 0, 0.041);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
  }
  .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
  .card figure {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
  }
  
  .card img {
    max-width: 100%;
    height: 250px;
    border-radius: 8px;
    transition: transform 0.5s ease;
  }

  .card:hover img{
  transform: scale(1.1); /* Zoom in */
}

/* .card-content {
  padding: 20px;
  text-align: center;
} */
  
  .card_body {
    width: 100%;
    /* height: 150px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .button-container {
    margin-top: auto;
   }
  .card-button {
    padding: 10px 30px;
    background-color: maroon;
    color: white;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
    bottom: 10px;
  }